name: Linter

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  statuses: write

jobs:
  linter:
    name: Lint Code Base
    runs-on: ubuntu-latest
    permissions:
      statuses: write  # for github/super-linter/slim to mark status of each linter run

    steps:
      - name: Checkout Code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Lint Code Base
        uses: github/super-linter/slim@4e51915f4a812abf59fed160bb14595c0a38a9e7 # v6

        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Markdown lint complains about the issue templates
          FILTER_REGEX_EXCLUDE: .github/ISSUE_TEMPLATE/*
          VALIDATE_YAML: false
